/* High contrast */
body.high-contrast-on {
  background-color: black !important;
}

body.high-contrast-on * {
  background-color: black !important;
  color: lightgray !important;
  opacity: 1 !important;
}

body.high-contrast-on *:hover {
  color: lightgray !important;
  opacity: 1 !important;
}

body.high-contrast-on i * {
  fill: lightgray !important;
}

body.high-contrast-on
  .footer
  .footer-contact-list
  .footer-contact-list__bucket:hover
  .footer-contact-list__tag {
  color: lightgray !important;
}

body.high-contrast-on .icon-switch rect {
  stroke: aquamarine !important;
  fill: black !important;
}

body.high-contrast-on .icon-switch circle {
  fill: aquamarine !important;
}

body.high-contrast-on .footer .claim .claim__gradient {
  display: none;
}

body.high-contrast-on ::-moz-selection {
  background-color: aquamarine !important;
  color: black !important;
}

body.high-contrast-on ::selection {
  background-color: aquamarine !important;
  color: black !important;
}

body.high-contrast-on .icon-badge > .icon-badge__opacity {
  fill: transparent !important;
  stroke: aquamarine !important;
}

body.high-contrast-on .icon-badge > .icon-badge__solid {
  fill: orange !important;
}

@media screen and (max-width: 768px) {
  body.accesibility-open.high-contrast-on .accesibility {
    opacity: 1 !important;
  }
  body.high-contrast-on .accesibility {
    opacity: 0 !important;
  }
  body.high-contrast-on .accesibility .accesibility__options,
  body.high-contrast-on .location .location__group {
    border: 1px solid var(--light);
  }

  body.timezone-open.high-contrast-on .location__mobile {
    opacity: 1 !important;
  }
  body.high-contrast-on .location__mobile {
    opacity: 0 !important;
  }
  body.high-contrast-on .location__mobile .location__group {
    border: 1px solid var(--light);
  }
}

body.high-contrast-on .location .location__group,
body.high-contrast-on .location .accesibility__group {
  opacity: 0 !important;
}

body.high-contrast-on.timezone-open .location .location__group,
body.high-contrast-on.accesibility-open .location .accesibility__group {
  opacity: 1 !important;
}

@media screen and (min-width: 768px) {
  body.high-contrast-on .location .location__group {
    opacity: 1 !important;
  }
}

/* Reduced motion */
body.reduced-motion-on * {
  animation-play-state: paused !important;
  transition-duration: 0s !important;
}
