@media screen and (min-width: 1124px) {
  .dnone-min-md {
    display: none;
  }
}

@media screen and (max-width: 1124px) {
  .skills .skills-list {
    flex-direction: column-reverse;
    margin-top: 3rem;
  }

  .skills .skills-list .skills-list__tail {
    margin-bottom: 6rem;
  }

  .footer .footer-content {
    overflow: hidden;
  }

  .footer .footer-contact-list {
    gap: 1rem;
  }

  .footer .footer-contact-list .footer-contact-list__bucket {
    background-color: var(--primary-tint-1);
    border: 1px solid var(--primary-shade-1);
    border-radius: 3px;
    padding: 1.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .dnone-min-sm {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .main-padding {
    --pad: clamp(3rem, -2.9686rem + 15.7068vw, 9rem);
    padding: var(--pad) var(--pad) 0 var(--pad);
  }

  .intro {
    margin-bottom: 8em;
    height: 70svh;
  }

  .intro .availability-badge {
    display: none;
  }

  .skills {
    margin-bottom: 12rem;
  }

  .skills .skills-list .skills-list__grid {
    display: block;
  }

  .skills .skills-list .skills-list__bucket {
    margin-bottom: 4.4rem;
  }

  .hobbies .hobbies__bucket {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .footer {
    position: relative;
    z-index: 100;
    padding-top: 0;
  }

  .footer .footer-heading {
    margin-bottom: 0;
  }

  .footer .claim .claim__gradient {
    display: none;
  }

  .footer .footer-contact-list {
    margin-bottom: 5rem;
    overflow: auto;
    padding-bottom: 1rem;
  }

  .footer .footer-contact-list .footer-contact-list__bucket {
    text-wrap: nowrap;
    white-space: nowrap;
  }

  .footer .footer-contact-list .footer-contact-list__bucket * {
    white-space: nowrap;
  }

  .location {
    position: fixed;
    bottom: 0;
    top: auto;
    position: fixed;
    bottom: 0;
    top: revert;
    height: auto;
    padding: 0;
    max-height: none;
    width: 100vw;
    max-width: 100vw;
  }

  .location .location__wrapper {
    margin: 0;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0.5rem 1.8rem;
    margin: 1.2rem;
    margin-top: 0;
    border-radius: 10rem;
    width: calc(100vw - 2.4rem);
    justify-content: flex-end;
    gap: 0.2rem;
    padding-left: 1.5rem;
  }

  .location .location__availability {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /* non mobile */
  .location .location__group {
    display: none;
  }
  /* end non mobile */

  .location.location__mobile {
    top: auto;
    bottom: 70px;
    right: 0;
    padding-right: 1.2rem;
    box-sizing: border-box;
    transform: translateY(25%);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s linear;
    pointer-events: none;
    width: auto;
  }

  .location.location__mobile .location__group {
    background-color: var(--primary-tint-1);
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 1rem;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.8rem 2rem;
    display: flex;
  }

  body.timezone-open .location.location__mobile {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  .location.location__mobile .location__tag {
    color: var(--dark-2);
    font-size: clamp(1.5rem, -1.2143rem + 7.1429vw, 2rem) !important;
  }

  .footer .claim-marquee__text {
    animation-duration: 16s;
    padding-right: 3rem;
  }

  .footer .claim-marquee.revert .claim-marquee__text {
    animation-duration: 25s;
  }

  .accesibility {
    position: fixed;
    padding: 0;
    transform: none;
    height: auto;
    max-height: none;
    top: auto;
    bottom: 0;
    box-sizing: border-box;
    text-align: left;
    bottom: 70px;
    right: 0;
    padding-right: 1.2rem;
    padding-left: 0.2rem;
    transform: translateY(25%);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s linear;
    pointer-events: none;
  }

  .accesibility .accesibility__options {
    transform: none;
    background-color: var(--primary);
    flex-direction: column;
    height: auto;
    border-radius: 1rem;
    width: 100%;
    margin: 0;
    padding: 1.8rem 2rem;
    box-sizing: border-box;
    gap: 1rem;
  }

  body.accesibility-open .accesibility {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  .accesibility .accesibility__option {
    font-size: clamp(1.5rem, -1.2143rem + 7.1429vw, 2rem) !important;
    color: var(--dark-2);
    gap: 1rem;
  }

  .location .location__worldclock,
  .location .location__accesibility {
    transition: background-color 0.1s linear;
  }

  body.timezone-open .location .location__worldclock,
  body.accesibility-open .location .location__accesibility {
    background: var(--dark-9);
    border-radius: 0.8rem;
  }

  body.timezone-open .location .location__worldclock *,
  body.accesibility-open .location .location__accesibility * {
    fill: var(--dark-7);
  }
}

/* Typography */

@media screen and (max-width: 768px) {
  .heading-oversized {
    /* font-size: clamp(10.1rem, 7.3092rem + 7.3442vw, 20rem); */
    font-size: clamp(12rem, 1.1429rem + 28.5714vw, 14rem);
  }

  .heading {
    font-size: clamp(3.8rem, -3.1667rem + 18.3333vw, 6rem);
    line-height: 1.2;
  }

  .heading-3,
  .heading-4 {
    font-size: clamp(2.4rem, 0.5rem + 5vw, 3rem);
  }

  .text,
  .text-display,
  .text-display-2 {
    font-size: clamp(1.5rem, -1.2143rem + 7.1429vw, 2rem);
  }

  .text-display-s {
    font-size: clamp(1.6rem, 0.5143rem + 2.8571vw, 1.8rem);
  }

  .location .location__wrapper * {
    font-size: clamp(1.5rem, -1.2143rem + 7.1429vw, 2rem) !important;
  }

  /* Icons */
  i.size-xs {
    width: clamp(1.7rem, 0.0714rem + 4.2857vw, 2rem);
  }
}

/* Availability badge interaction on scroll */

@media screen and (min-width: 768px) {
  body.scroll-50 .location .availability-badge,
  .intro .availability-badge {
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  body.scroll-50 .intro .availability-badge,
  .location .availability-badge {
    opacity: 0;
    transition: opacity 0.1s linear;
  }
}
