:root {
  font-family: "Gill Sans", "Trebuchet MS", system-ui, -apple-system, sans-serif;
  font-family: var(--type-display);
  color-scheme: only light;
  color: var(--dark);
  background-color: var(--light);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

html {
  height: 100%;
  font-size: 62.5%;
}

a {
  cursor: revert;
  display: inline-block;
}

label {
  cursor: pointer;
}

ol,
ul,
menu,
summary {
  list-style: none;
}

::-moz-selection {
  background-color: var(--primary);
}

::selection {
  background-color: var(--primary);
}

i {
  display: inline-flex;
}

svg {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

body {
  min-height: 100%;
  overflow-x: hidden;
}

.content {
  max-width: 1728px;
  margin: 0 auto;
}
