/* availability-badge */
.availability-badge {
  display: flex;
  align-items: center;
  transition: color 0.1s linear;
}

.availability-badge:hover {
  color: var(--dark-7);
}

/* intro */
.intro {
  /* todo: flexible spacing */
  padding-top: 13vh;
  padding-bottom: 17rem;
}

.intro .intro__disolved,
.intro .intro__subheading {
  color: var(--dark-7);
}

.intro .intro__heading,
.intro .intro__subheading {
  margin-bottom: 2rem;
  text-wrap: balance;
}

/* skillss & hobies */
.skills {
  /* todo: flexible spacing */
  padding-bottom: 17rem;
}

.skills .skills-list {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 7.6rem;
}

.skills .skills-list .skills-list__grid {
  /* color: var(--secondary-shade-2); */
  color: var(--secondary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-grow: 1;
}

.skills .skills-list .skills-list__bucket {
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
}

.skills .skills-list .skills-list__tail {
  display: flex;
  align-items: end;
}

.skills .skills-list .skills-list__header {
  color: var(--dark);
  font-family: var(--type-display);
}

.skills .skills-connect {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: color 0.1s linear;
}

.skills .skills-connect:hover {
  color: var(--dark-7);
}

.hobbies .hobbies__heading {
  margin-bottom: 3rem;
}

.hobbies .hobbies__bucket {
  color: var(--secondary);
  /* color: var(--secondary-shade-2); */
  display: flex;
  gap: 3.2rem;
  margin-bottom: 1rem;
}

/* footer */

.footer {
  background-color: var(--primary);
  /* todo: flexible spacing */
  padding-top: 10rem;
}

.footer .footer-heading {
  margin-bottom: 6rem;
}

.footer .footer-contact-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12rem;
}

.footer .footer-contact-list .footer-contact-list__bucket {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 1rem 0;
}

.footer .footer-contact-list .footer-contact-list__bucket * {
  transition: color 0.1s linear, fill 0.1s linear;
}

.footer .footer-contact-list .footer-contact-list__bucket:hover * {
  color: var(--primary-shade-2);
  fill: var(--primary-shade-2);
}

.footer
  .footer-contact-list
  .footer-contact-list__bucket:hover
  .footer-contact-list__tag {
  color: var(--dark) !important;
}

.footer .footer-contact-list .footer-contact-list__bucket.discord {
  cursor: pointer;
}

.footer .footer-contact-list .discord:hover .discord__tag::after {
  opacity: 0;
}

.footer .footer-contact-list .discord__tag {
  position: relative;
}

.footer .footer-contact-list .discord__tag::after {
  transition: opacity 0.1s linear 0.1s;
  position: relative;
}

.footer .footer-contact-list .discord__tag::after {
  content: "";
  position: absolute;
  inset: 2px -0.4rem 1px;
  background: linear-gradient(90deg, #bcb5e5 0%, #a29ccc 100%);
  border-radius: 2rem;
}

.footer .claim {
  user-select: none;
  color: var(--secondary);
  position: relative;
}

.footer .claim .claim__gradient {
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  position: absolute;
  background: linear-gradient(
    90deg,
    #d5cfff 0%,
    #d5cfff 8.85%,
    rgba(213, 207, 255, 0) 100%
  );
}
.footer .claim .claim__gradient.reverse {
  right: 0;
  left: auto;
  transform: rotate(180deg);
}

.footer .claim-marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  line-height: 1;
}

.footer .claim-marquee__text {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  animation: scroll 22s linear infinite;
  padding-right: 6rem;
  will-change: transform;
}

.footer .claim-marquee.revert .claim-marquee__text {
  animation-direction: reverse;
  animation-duration: 30s;
  line-height: normal;
  line-height: initial;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}

/* location */

.location {
  position: sticky;
  top: 0;
  text-align: right;
  pointer-events: none;
  z-index: 10;
  height: 0;
  max-height: 0;
  padding-bottom: 12rem;
}

.location .location__wrapper {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
  background-color: rgba(253, 253, 253, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  pointer-events: all;
  z-index: 10;
  padding: 0 2.5rem;
  padding-left: 1.5rem;
  margin: 2rem;
  margin-right: -2rem;
  border-radius: 10rem;
}

.location .location__wrapper * {
  font-size: clamp(1.2rem, 1.1436rem + 0.1484vw, 1.4rem) !important;
}

.location .location__group {
  display: flex;
  color: var(--secondary);
  gap: 2rem;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s linear 0.2s;
}

body.ready .location .location__group {
  opacity: 1;
}

.location .location__tag {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.location .location__time {
  font-variant-numeric: tabular-nums lining-nums;
}

.location .location__accesibility,
.location .location__worldclock {
  padding: 0.7rem;
}

/* accesibility */

.accesibility {
  position: sticky;
  top: 100vh;
  transform: translateY(-100%);
  pointer-events: none;
  height: 0;
  max-height: 0;
  text-align: right;
  z-index: 10;
}

.accesibility .accesibility__options {
  user-select: none;
  display: inline-flex;
  gap: 2.5rem;
  margin: 1rem -2rem 1rem 1rem;
  /* margin-right: 0; */
  background-color: rgba(253, 253, 253, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 5rem;
  padding: 1rem 2rem;
  transform: translateY(calc(-100% - 2rem));
}

.accesibility .accesibility__option {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--dark5);
  pointer-events: all;
}

.accesibility .accesibility__option input {
  display: none;
}

/* sketch */

.experience {
  min-height: calc(var(--view) * 4);
  max-height: calc(var(--view) * 4);
}

#brand__wrap {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: var(--view);
  min-height: var(--view);
  max-height: var(--view);
  display: flex;
  pointer-events: none;
}

#brand {
  position: absolute;
  width: 100%;
  bottom: -50%;
  margin-bottom: 25%;
  /* transform: translateY(0) scale(0.15); */
  transform: translateY(70%);
  transform-origin: center center;
  pointer-events: none;
}
